.container{
   display: flex;
   background-color: brown;
   color: black;
   width: 300px;
   height: 500px;
   font-size: 50px;
}

.Numero4{
display:flex;
width: 244px;
height: 24px;

font-size: 30px;



}
.Numero44{
   display:flex;
   width: 144px;
   height: 144px;
   background-color: aqua;
   
   font-size: 20px;
   
   }

   .Numero444{
      display:flex;
      width: 144px;
      height: 144px;
      background-color: aquamarine;
     font-size: 20px; 
     
    
      
      }  

      .grid-cuatro3{
display: grid;
width: 144px;
height: 444px;
background-color: rgb(36, 184, 184);

font-size: 20px;
      }