.container {
   display: flex;
   background-color: brown;
   color: black;
   width: 600px;
   height: 400px;
   font-size: 10px;
   justify-content: center;
   align-items: center;
 }
 
 .Numero4 {
   margin-bottom: 40px;
   background-color: blue;
   color: white;
   padding: 10px;
   border-radius: 5px;
 }
 
 .Numero44 {
   margin-bottom: 50px;
   background-color: green;
   color: white;
   padding: 10px;
   border-radius: 5px;
 }
 
 .Numero444 {
   margin-bottom: 60px;
   background-color: red;
   color: white;
   padding: 10px;
   border-radius: 5px;
 }
 
 .grid-cuatro3 {
   margin-bottom: 70px;
   background-color: yellow;
   color: black;
   padding: 10px;
   border-radius: 5px;
 }
 